﻿<div class="container-fluid">
    <div class="row supporting-upload">
        <div class="col-md-12 col-sm-12 upload-information">
            <p class="details-title margin-t-40">{{'ORDER_CONIRMED_WITH_SUCCESS'| translate}}</p>
            <p class="note">
                {{'ORDER_CONIRMED_WITH_SUCCESS_NOTE_1'| translate}}<br /> {{'ORDER_CONIRMED_WITH_SUCCESS_NOTE_2'| translate}}
                {{'ORDER_CONIRMED_WITH_SUCCESS_NOTE_3'| translate}}
            </p>
            <p class="text-center margin-t-15">
                <a ui-sref="admin.orders">{{'GO_TO_MY_ORDERS'| translate}}</a>
            </p>
        </div>
    </div>
</div>