﻿<head>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=no;">
</head>
<table style="background-color: #f1f1f1; width: 100%;">
    <tr>
        <td style="margin: 0 auto;">
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 16px; color:#383838; margin: 0 auto; font-family: 'Futura PT'; width: 600px;">
                <tr>
                    <td style="text-align: right; padding: 10px 5px; font-family: 'Futura PT';">
                        <a href="#" style="font-size: 12px; color: #383838; line-height: 24px; letter-spacing: 0.05em;">Read online</a>
                    </td>
                </tr>
                <tr style="text-align:center; margin-top: 30px; background-color: #fff;">
                    <td style="width:100%; padding: 35px 0 15px 0; border-radius: 5px;">
                        <img src="http://192.168.1.148:93/assets/images/logos/3.png" width="240" alt="logo" />
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 15px 0 0 0;">
                        <p style="font-size: 24px; text-transform: capitalize; text-align: center; margin-bottom: 15px; line-height: 36px; font-weight: 500;">Shipment Details</p>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 20px 25px;">
                        <table style="width: 100%; margin-bottom: 15px;">
                            <tr>
                                <td style="text-align: left;">
                                    <p style="margin: 0; font-weight: bold;">PO Number:<span style="font-weight: 400; border: 5px solid #fff;">#123_456789</span></p>
                                </td>
                                <td style="text-align: right;">
                                    <p style="margin: 0; font-weight: bold;">Creation Date:<span style="font-weight: 400; border: 5px solid #fff;">01/20/2017</span></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding-left: 25px; text-align: left;">
                        <p style="font-weight: bold; margin: 0; line-height: 25px;">Company:<span style="font-weight: 400; border: 5px solid #fff;">Icon</span></p>
                        <p style="font-weight: bold; margin: 0; line-height: 25px;">Name:<span style="font-weight: 400; border: 5px solid #fff;">Keith George</span></p>
                        <p style="font-weight: bold; margin: 0; line-height: 25px;">Phone Number:<span style="font-weight: 400; border: 5px solid #fff;">4152714322</span></p>
                        <p style="font-weight: bold; margin: 0; line-height: 25px;">Email:<span style="font-weight: 400; border: 5px solid #fff;">keithgeorge@luxurymarket.com</span></p>
                        <p style="font-weight: bold; margin: 0; line-height: 25px;">Pick up Hours:<span style="font-weight: 400; border: 5px solid #fff;">9:00-0:00h</span></p>
                        <p style="font-weight: bold; margin: 0; line-height: 25px;">Pick up Dates:<span style="font-weight: 400; border: 5px solid #fff;">9:00-0:00h</span></p>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 15px 0 5px 25px; text-align: left;">
                        <p style="font-weight: bold; margin: 0;">Summary:</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 25px; background-color: #fff;">
                        <table style="width: 100%; border-collapse: collapse;">
                            <tr style="border-bottom: 1px solid #ededed; background-color: #f1f1f1;">
                                <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                                    <p style="margin: 0;">Quantity</p>
                                </td>
                                <td style="width: 40%; text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">Average Weight (Kg)</p>
                                </td>
                                <td style="width: 30%; text-align: right; padding: 10px 10px 10px 0px;">
                                    <p style="margin: 0;">Total Weight (Kg)</p>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ededed; background-color: #fff;">
                                <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                                    <p style="margin: 0;">3</p>
                                </td>
                                <td style="width: 40%; text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">52</p>
                                </td>
                                <td style="width: 30%; text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">52</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 15px 0 5px 25px; text-align: left;">
                        <p style="font-weight: bold; margin: 0;">Details:</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 25px; background-color: #fff;">
                        <table style="width: 100%; border-collapse: collapse;">
                            <tr style="border-bottom: 1px solid #ededed; background-color: #f1f1f1;">
                                <td style="width: 30%; padding-left: 10px; padding: 10px 0 10px 10px; text-align: left;">
                                    <p style="margin: 0;">Box Size Type</p>
                                </td>
                                <td style="width: 40%; text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">Quantity</p>
                                </td>
                                <td style="text-align: right; padding: 10px 10px 10px 0px;">
                                    <p style="margin: 0;">Average Weight (Kg)</p>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ededed; background-color: #fff;">
                                <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                                    <p style="margin: 0;">24&nbsp;x&nbsp;20&nbsp;x&nbsp;34'</p>
                                </td>
                                <td style="width: 40%; text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">52</p>
                                </td>
                                <td style="text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">52</p>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ededed; background-color: #fff;">
                                <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                                    <p style="margin: 0;">24&nbsp;x&nbsp;20&nbsp;x&nbsp;34'</p>
                                </td>
                                <td style="width: 40%; text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">52</p>
                                </td>
                                <td style="text-align: center; padding: 10px 0;">
                                    <p style="margin: 0;">52</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 15px 0 5px 25px; text-align: left;">
                        <p style="font-weight: bold; padding: 15px 0 5px 0; margin: 0;">Notes:</p>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 0 25px 20px 25px;">
                        <p style="text-align:justify; margin: 0;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #000; border-radius: 5px; text-align: center; padding: 15px 0;">
                        <a href="#" style="font-family: 'Futura PT'; text-decoration: none; margin: 0; color: #fff; font-size: 18px; letter-spacing: 0.05em;">Questions? Visit the <span style="text-decoration: underline; text-transform: capitalize;">help center</span></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; color: #000; padding: 10px 0;">
                        <p style="font-size: 15px; line-height: 24px; text-transform: uppercase; margin: 0; font-weight: bold;">luxury market</p>
                        <a href="#" style="font-size: 12px; line-height: 25px; color: #000; letter-spacing: 0.025em;">www.luxurymarket.com</a>
                        <p style="font-size: 13px; margin: 0; line-height: 24px; text-transform: capitalize; letter-spacing: 0.025em;">phone: <span>0844 123 1234</span> | email: <span style="text-transform: none;"><a href="#" style="color: #000;">support@luxurymarket.com</a></span></p>
                        <p style="font-size: 13px; text-transform: capitalize; letter-spacing: 0.025em; line-height: 24px; margin: 0;">luxury market<span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">230 West 38th Street, 5th Floor</span><span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">New York</span>,<span>NY 10018</span></p>
                        <p style="font-size: 13px; letter-spacing: 0.025em; line-height: 24px; margin: 0;">Copyright &#169; 2017 Luxury Market, All rights reserved.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

