﻿.account-info-container {

    .account-title {
        margin: 40px 0;
        letter-spacing: 0.1em;
        line-height: 24px;

        @media (max-width: $screen-sm) {
            font-size: 15px;
        }
    }

    .border-row {
        border-bottom: 1px solid $very-light-gray;

        &:first-of-type {
            border-top: 1px solid $very-light-gray;
        }
        // Rollover border and icons
        &:hover {
            border-bottom-color: $black;

            .edit-account {
                .icon-wrapper {
                    font-size: 20px;
                    cursor: pointer;
                    background-color: $black;
                    color: white;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border-radius: 30px;
                    padding: 7px 11px;
                    border: 1px solid $black;

                    @media(max-width: $screen-sm) {
                        width: 35px;
                        height: 35px;
                        font-size: 16px;
                        padding: 5px 9px;
                    }

                    @media(max-width: $screen-xs) {
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                        padding: 0px 7px;
                    }
                }
            }
        }

        @media (max-width: $screen-sm) {
            margin: 0 5px;
        }
    }

    .contact-column {
        margin: 15px 0;

        .contact {
            text-transform: $capital-text;
            margin-bottom: 0;
            margin-top: 5px;
            display: inline-block;

            @media (max-width: $screen-sm) {
                font-size: 16px;
            }

            &.xs-contact {
                @media (max-width: $screen-xs) {
                    white-space: nowrap;
                    width: 8em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                }
            }
        }

        .span-contact {
            font-weight: $light-weight;
            float: right;
            font-size: 20px;
        }

        .span-email {
            @extend .span-contact;
            text-transform: none;

            &.xs-span-email {
                @media (max-width: $screen-xs) {
                    position: relative;
                    top: 8px;
                }
            }
        }

        &.xs-r-padding {
            @media (max-width: $screen-sm) {
                padding-right: 0;
            }
        }
    }

    .edit-account {
        margin: 15px 0;

        @media (max-width: $screen-sm) {
            text-align: center;
        }

        .icon-wrapper {
            @media(max-width: $screen-xs) {
                width: 25px;
                height: 25px;
                font-size: 12px;
                padding: 0px 7px;
            }
        }
    }

    .label-password {
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: 0.05em;
    }

    .btn-lm-cancel,
    .btn-lm-save {
        @media(max-width: $screen-xs) {
            min-width: 100px;
        }
    }
}
