﻿.create-offer-page {
    .sticky-head {
        width: 100%;
        background-color: $white;
        z-index: 1;
        position: fixed;
    }

    .align-btn {
        margin: 20px 0;

        .btn-lm-small {
            text-transform: $upper-text;
            font-size: 16px;
        }
    }

    .line-down-vertical {
        border-top: 1px solid $very-light-gray;
        border-bottom: unset;
        padding: 10px 0;
    }

    .shop-top {
        /*.select-box {
            min-width: 100%;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: $white;
            border-radius: 2px;
            color: $gray-light-2;
            text-transform: $upper-text;
            padding: 3px 10px;
            font-size: 14px;
            border: 1px solid $gray-light-2;

            &:focus {
                border: 1px solid $black;
                outline: none;
                color: $black;
            }
        }*/
        position: relative;

        .menu-right {
            min-width: 100%;
            width: 100%;
            border-radius: 0 2px 0 2px;
            left: auto;
            top: 28px;
            border: 1px solid $gray-light-2;
            color: $black;
            border-top: none;
            box-shadow: 0px 0px 0px rgba(0,0,0,0.200);
            margin: 0;
            padding: 0;


            li {
                padding: 2px 10px;
                text-transform: $upper-text;
                cursor: pointer;

                &:hover {
                    background: #f4f4f4;
                }

                .form-products {
                    margin-bottom: 0px;

                    input[type="checkbox"] + {
                        label {
                            font: {
                                size: 13px;
                                weight: $light-weight;
                            }

                            line-height: 0px;

                            span {
                                margin: 0 13px 0 0px;
                            }

                            .all-items {
                                display: inherit;
                                padding-left: 5px;
                                color: $gray-light-2;
                            }
                        }
                    }

                    &.sellect-all {
                        border-bottom: 1px solid $gray-light-2;
                    }
                }
                /*&:last-child {
                    padding: 0px;
                }*/
                .btn-list {
                    min-width: 100%;
                    width: 100%;
                    padding: 8px 0;
                }
            }
        }

        .navigation-shop {
            width: 100%;
            padding-right: 0px;

            .percent-icon {
                padding: 0 10px;
            }

            .dolar-icon {
                position: relative;
                top: 0px;
                left: 25px;
                background: #fff;
            }

            .sort-filter {
                padding: 0;

                .input-search {
                    color: $black;
                    border-color: #d4d4d4;
                    border-radius: 2px;
                    text-transform: $upper-text;
                    padding: 5px 20px;
                    text-align: left;
                    line-height: 20px;

                    &::-webkit-input-placeholder {
                        color: #d4d4d4;
                        padding-left: 10px;
                        text-transform: $lower-text;
                    }

                    &:focus {
                        border: 1px solid $gray-light-2;

                        .search-icon {
                            display: none;
                        }
                    }

                    &.price-selection {
                        min-width: 40px;
                        width: 40px;
                        padding: 0;
                        line-height: 27px;
                        color: black;
                        text-align: center;
                        margin-left: 10px;
                    }

                    &.price-variance {
                        min-width: 83px;
                        width: 83px;
                        padding: 2px 15px;
                        color: $gray-4;
                    }
                }

                .search-icon {
                    position: absolute;
                    left: 23px;
                    top: 2px;
                    z-index: 1;
                    color: $gray-light-2;
                    background-color: transparent;

                    &:focus {
                        display: none;
                    }
                }

                .small-dropdown {
                    display: inline;

                    .btn-lm {

                        &.btn-lm-filter {
                            min-width: 120px;
                            width: 120px;
                            border-radius: unset;
                            text-transform: $capital-text;
                            padding: 2px 15px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            line-height: 24px;
                            border-color: $gray-light-2;
                            color: $black;

                            &:focus {
                                border-bottom: 1px solid $gray-light-2;
                                color: $black;
                            }
                        }

                        .angle-down {
                            top: 2px;
                        }
                    }

                    .menu-right {
                        width: 120px;
                        min-width: 120px;
                        border-radius: unset;
                        left: auto;
                        top: 24px;
                        border-color: $gray-light-2;
                        color: $black;


                        li {
                            text-transform: $capital-text;

                            a {
                                text-transform: $capital-text;
                                padding: 5px 15px;
                            }
                        }
                    }
                }
            }

            .percents {
                left: auto;
                position: absolute;
                right: 25px;
                z-index: 2;
                top: 2px;

                &.percents-icon {
                    right: 111px;
                }
            }
        }

        &.best-price {
            .navigation-shop {
                padding-right: 15px;
            }
        }
    }

    .select-container {
        .form-control {
            /*&.select-box {
                height: 30px;
                max-height: 30px;
                padding: 0px 0px;
                min-width: 100%;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: #fff;
                border-radius: 2px;
                color: #e0e8ec;
                text-transform: uppercase;
                font-size: 14px;
                border: unset;
                box-shadow: none;

                .ui-select-match {
                    position: absolute;
                    width: 100%;

                    .btn-default {
                        width: 100px;
                        position: relative;
                        top: 2px;
                        left: 5px;
                        font-size: 12px;
                        white-space: nowrap;
                        width: 6em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 21px;
                        padding: 0px 5px;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                input {
                    box-sizing: border-box;
                    height: 28px;
                    padding: 0px 10px;
                    width: 100%;
                    background-color: $white;
                    border-radius: 2px;
                    color: #d4d4d4;
                    text-transform: $upper-text;
                    font-size: 14px;
                    border: 1px solid #d4d4d4;
                    text-align: left;

                    &:focus {
                        border: 1px solid $black;
                        outline: none;
                        color: $black;
                    }
                }

                input[type="search"]::-webkit-input-placeholder {
                    color: $gray-light-2;
                    text-align: left;
                }

                .dropdown-menu {
                    width: 100%;
                    margin: 0;
                    top: 28px !important;
                    border: 1px solid $gray-light-2;
                    color: $black;
                    border-top: none;
                    box-shadow: 0px 0px 0px rgba(0,0,0,0.200);
                    border-radius: 0 2px 0 2px;

                    li {
                        .ui-select-choices-row {
                            padding: 2px 10px;
                            font-size: 13px;
                        }
                    }
                }
            }*/
        }

        .shop-top {

            .caret-down-arrow {
                color: $gray-lighten-1;
                float: right;
                padding-right: 10px;
                position: relative;
                bottom: 27px;
                font-size: 15px;
            }
        }
    }

    .border-up {
        border-bottom: 1px solid $very-light-gray;
    }

    .pricing-btn {
        padding-left: 15px;

        .red {
            min-width: 170px;
            line-height: 16px;
        }
    }

    .shop-details {
        padding: 0 25px;
    }

    .price-part {
        padding: 0 15px !important;
    }

    .btn-lm-list {
        @media (max-width: $screen-lg) {
            min-width: 90px;
            font-size: 13px;
            padding: 6px 0px;
        }
    }

    .horizontal-list {

        .main-content-horizontal {
            border-top: 1px solid #ededed;
            margin-bottom: 0px;

            .product-details-row {
                /*.check-product {
                    display: none;
                }*/
                .about-product {
                    margin: 6px 0px;

                    @media (max-width: $screen-lg) {
                        left: 0px;
                    }

                    .information {
                        font-weight: $heavy-weight;
                        white-space: nowrap;
                        width: 95%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 15px !important;

                        @media (max-width: $screen-lg) {
                            font-size: 14px;
                            line-height: 17px !important;
                        }
                    }

                    .brand {
                        font-weight: $light-weight !important;
                        font-size: 14px !important;
                        line-height: 24px !important;

                        @media (max-width: $screen-lg) {
                            font-size: 12px;
                        }
                    }

                    .detail {
                        @media (max-width: $screen-lg) {
                            font-size: 12px;
                        }
                    }
                }

                .best-price {


                    &.shop-top {
                        /*display: inline-block;*/
                        .navigation-shop {
                            display: inline-block;
                            margin-bottom: 5px;

                            .sort-filter {
                                display: inline-block;

                                .name-box {
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 10px;
                                    font-style: normal;
                                    color: gray;
                                    text-align: center;
                                    letter-spacing: normal;
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                }

                .price-part {
                    .red-btn {
                        position: relative;

                        &.btn-view {
                            margin: 32px 0px !important;
                            padding: 3px 25px;
                        }

                        span {
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            left: auto;
                            font-size: 20px;
                        }
                    }
                }
            }

            &:last-child {
                .product-details-row {
                    border-bottom: 1px solid #ededed;
                }
            }
        }
    }
    //Arrows
    .caret-down {
        top: 3px;
        color: $gray-light-2;

        &:focus {
            color: $black;
        }
    }
    //Edit view
    &.edit-offer-view {
        .align-btn {
            display: none;
        }

        .main-content-horizontal {
            .product-loader {
                margin: 0 auto;
                position: relative;
                right: 50%;

                .spinner-icon {
                    font-size: 25px;
                    text-align: center;
                    margin: 0 auto;
                }

                .loader-text {
                    font-size: 16px;
                    position: relative;
                    left: 130px;
                }
            }


            .product-details-row {

                .align-edit-view {
                    /*margin: 15px 0;*/
                    @media (max-width: $screen-more-lg) {
                        text-align: right;
                    }

                    img {
                        width: 70px;
                    }
                }

                .check-product {

                    &.form-products {
                        display: inline-block;
                        top: 8px;
                        right: 50px;
                    }
                }

                .about-product {
                    margin: 25px 0px;
                }

                .label-changes {
                    display: block;
                    text-align: left;
                    padding: 0 15px;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 0;
                }

                .input-value {
                    min-width: 170px;
                    width: 170px;
                    padding: 3px 25px;
                    font-size: 16px;
                    border-radius: 2px;
                    border-color: $gray-light-2;
                    color: $gray-4;
                }

                .price-part {
                    .red-btn {
                        min-width: 170px;
                        width: 170px;
                        padding: 4px 10px 4px 2px;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: capitalize;
                        margin: 5px 0;
                    }
                }
            }
        }

        .btn-box {
            background-color: $white;

            .btn-fixed {
                position: fixed;
                top: auto;
                bottom: 10px;
                right: 15px;
                left: auto;
                z-index: 5;
                text-transform: $upper-text;
            }
        }
    }

    .scrollbar-bar-products {
        /*overflow-x: hidden;
        overflow-y: scroll;
        max-height: 500px;
        margin-right: -15px;
        margin-left: -15px;*/
    }
}

.footer-bar {
    z-index: 2;

    .hideFooter {
        display: none !important;
    }
}

.qty-sizes {
    .qty-sizes-menu {
        padding: 15px 15px;
    }
}

/*.select-box {
    max-height: 30px;
    text-align: left;
    border-radius: 2px;

    input.ui-select-search {
        padding: 0px 5px;
    }

    .ui-select-choices {
        padding: 0;
        border-radius: 0px;

        .ui-select-choices-group {
            .ui-select-choices-row {

                > span {
                    padding: 5px 15px;

                    &:hover {
                        color: $white;
                        background-color: $black;
                    }
                }

                &.active {
                    > span {
                        background-color: $black;
                    }
                }
            }
        }
    }

    input[type="search"]::-webkit-input-placeholder {
        color: $white;
    }

    &.open {
        padding: 0;
    }

    .ui-select-search {
        text-align: left;
    }
}*/


// select box
.select-box {
    padding: 3px;
    border-color: #d4d4d4;
    border-radius: 2px;

    &.ng-not-empty {
        input.ui-select-search {
            max-width: 90px;
        }
    }

    input.ui-select-search {
        padding: 0 2px;
        display: inline-block;
        margin: 0;
        text-align: left;
    }


    .ui-select-choices {
        padding: 0;
        border-radius: 0px;

        .ui-select-choices-row {
            &.active {
                > span {
                    background-color: $black;
                }
            }

            > span {
                padding: 5px 15px;

                &:hover {
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }

    .ui-select-match-item {
        margin: 0 !important;
        line-height: 1;
        padding: 3px;

        span:not(.ui-select-match-close) {
            max-width: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

        &.btn-primary {
            color: #fff;
            background: $black;
            border-color: $black;

            .close {
                color: #fff;
                opacity: 1;
            }
        }
    }

    &:focus {
        border: 1px solid #e0e0e0;
    }
}
