﻿.horizontal-list {
    &.height-horizontal-list {
        min-height: calc(100vh - 310px);
    }

    .navigation-position {
        margin: 10px 0 35px 0;
    }

    .subtitle-home {
        margin-bottom: 35px;
    }

    .line-down-vertical {
        padding: 0 10px;
    }

    .sidebar-head {
        font-size: 16px;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        margin: 0;
        line-height: 36px;
        letter-spacing: .05em;
    }

    .shop-top {
        .navigation-shop {
            display: inline-block;
            padding-right: 5px;

            .sort-filter {
                display: inline;
                padding: 0 10px;

                .btn-lm-filter {
                    line-height: 16px;
                    padding: 5px 10px 5px 10px;
                    min-width: 175px;
                    font-size: 14px;

                    .angle-down {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        padding-left: 2px;
                    }
                }

                .menu-right {
                    right: 0;
                    left: 10px;
                    margin: 0;
                    width: 175px;
                    min-width: 175px;
                    padding: 0;
                    border: 1px solid $black;
                    border-top: none;
                    border-radius: 0;
                    box-shadow: none;
                    z-index: 1;
                    top: 22px;

                    li {
                        a {
                            padding: 5px 10px 5px 10px;
                            cursor: pointer;
                            text-transform: $capital-text;
                            color: $black;
                            letter-spacing: 0.05em;
                            line-height: 16px;

                            &:hover {
                                background-color: $black;
                                color: $white;
                            }
                        }

                        &.active {
                            display: none;

                            a {
                                background-color: #cacaca;

                                &:hover {
                                    background-color: $black;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .view-mode {
            display: inline-block;
            position: relative;
            top: -1px;

            .reorder-icon {
                font-size: 23px;
                vertical-align: middle;
                cursor: pointer;

                & + .reorder-icon {
                    margin-left: 5px;
                }

                &.activ {
                    color: $gray-light-1;
                }
            }
        }
    }

    .main-content-horizontal {
        text-align: right;
        margin-bottom: 11px;



        .border-up {
            border-bottom: 1px solid $very-light-gray;
        }

        .product-details-row {
            color: $black;
            padding: 15px 10px;
            /*.form-products {
                position: relative;
                top: 45px;


                input[type="checkbox"] + {
                    label {
                        span {
                            margin: 0px;
                        }
                    }
                }
            }*/
            .img-md {

                & > a {
                    height: 250px;
                    display: block;
                    overflow: hidden;
                    position: relative;

                    & > img {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }



                @media (max-width: $screen-md) {
                    margin: 20px 0;
                }

                img {
                    @media (max-width: $screen-md) {
                        width: 70%;
                    }
                }

                & > a {
                    display: block;
                    overflow: hidden;
                    position: relative;

                    @media (max-width: $screen-xs) {
                        height: 150px;
                    }

                    & > img {
                        /*position: absolute;
                        bottom: 0;
                        left: 0;
                        max-width: 80%;*/
                    }

                    & > .sold-out-overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background: rgba(230, 230, 230, 0.5);
                    }

                    & > .sold-out-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%);
                        color: #000;
                        background: rgba(255, 255, 255, 0.6);
                        border: 1px solid #000;
                        font-weight: bold;
                        padding: 10px;
                        font-size: 16px;

                        @media (max-width: $screen-xs) {
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            .about-product {
                position: relative;
                left: 20px;
                text-align: left;
                top: 50px;

                .brand {
                    font-size: 16px;
                    font-weight: $heavy-weight;
                    text-transform: $upper-text;
                    letter-spacing: 0.05em;
                    line-height: 20px;

                    .take-all {
                        background-color: $red-4;
                        color: white;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 500;
                        padding: 2px 4px;
                        margin-left: 5px;
                    }

                    @media (max-width: $screen-md) {
                        font-size: 13px;
                    }
                }

                .information {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.05em;
                    white-space: nowrap;
                    width: 15em;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media (max-width: $screen-md) {
                        font-size: 13px;
                    }

                    &:hover {
                        width: 100%;
                        cursor: pointer;
                    }
                }

                .detail {
                    text-transform: $upper-text;
                    font-weight: $heavy-weight;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        text-transform: $capital-text;
                        font-weight: $light-weight;
                        padding-left: 5px;
                        white-space: nowrap;
                        width: 15em;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:hover {
                            width: 100%;
                            cursor: pointer;
                        }
                    }

                    @media (max-width: $screen-lg) {
                        font-size: 12px;
                    }

                    @media (max-width: $screen-md) {
                        font-size: 10px;
                    }

                    &:hover {
                        overflow: inherit;
                        background-color: $white;
                    }
                }

                @media (max-width: $screen-lg) {
                    left: 0px;
                }

                @media (max-width: $screen-md) {
                    padding: 0px;
                }
            }

            .price-part {
                padding: 0 5px;
                margin-top: 50px;

                .best-price {
                    letter-spacing: 0.05em;
                    line-height: 24px;

                    font: {
                        style: italic;
                        weight: $heavy-weight;
                        size: 18px;
                    }

                    .lg-display {
                        @media (max-width: $screen-lg) {
                            text-align: center;
                        }

                        @media (max-width: $screen-md) {
                            padding: 0;
                            text-align: right;
                        }
                    }

                    .lg-align {
                        @media (max-width: $screen-lg) {
                            /*text-align: left;*/
                        }

                        @media (max-width: $screen-md) {
                            padding: 0 15px;
                            text-align: right;
                        }
                    }

                    @media (max-width: $screen-md) {
                        font-size: 13px;
                    }
                }

                .red-btn {
                    min-width: 210px;
                    width: 210px;
                    font-size: 16px;
                    background-color: $red-4;
                    margin-top: 10px;
                    padding: 6px 25px;

                    span {
                        font-size: 25px;
                        position: relative;
                        left: 20px;
                        top: 2px;
                    }

                    @media (max-width: $screen-lg) {
                        width: 190px;
                    }

                    @media (max-width: $screen-md) {
                        width: 160px;
                        min-width: 160px;
                    }
                }

                .empty-btn {
                    background-color: $white;
                    color: $black;
                    padding: 0;
                    line-height: 24px;
                    font-weight: $heavy-weight;
                    text-align: right;
                    letter-spacing: 0.05em;
                    min-width: 210px;
                    width: 210px;
                    margin-top: 10px;

                    span {
                        font-size: 23px;
                        position: relative;
                        top: 2px;
                        padding-left: 10px;

                        @media (max-width: $screen-md) {
                            font-size: 16px;
                            top: 1px;
                            padding-left: 13px;
                            right: 7px;
                        }
                    }

                    @media (max-width: $screen-md) {
                        font-size: 11px;
                    }
                }

                @media (max-width: $screen-md) {
                    text-align: right;
                }
            }

            .product-checkbox {
                /*transform: translate(-50%, 50%);*/
                label {
                    /*margin-bottom: 55px;*/
                }

                .form-products {
                    top: 80px;
                    right: 25px;
                }
            }

            p {
                margin: 0;
            }
        }
    }

    .btn-lm-list {
        line-height: 15px;
        padding: 6px 15px;
        text-transform: $capital-text;
        min-width: 122px;
        background-color: $gray-lighten-6;

        &.red {
            background-color: $red-4;
            color: $white;
        }

        @media (max-width: $screen-lg) {
            min-width: 90px;
            font-size: 12px;
        }
    }

    .selected-form {
        &.text-start {
            text-align: left;
            margin: 20px 0;
        }

        .btn-lm-list {
            background-color: $black;

            &.red {
                background-color: $red-4;
                color: $white;
            }

            &.disabled {
                background-color: #827e7e;
            }
        }
    }

    .no-results {
        padding: 20px;

        p {
            color: $black;
            font-size: 20px;
        }
    }
    // .no-products {
    //   height: calc(100vh - 310px);
    // }
}


.sticky-element {
    .top-header {
        padding: 5px 0 0px 0 !important;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;

        .logo {
            img {
                max-width: 75%;
            }
        }

        .box-control {
            line-height: 16px;
        }
    }

    .hide-all {
        display: none;
    }

    .line-down-vertical {
        padding-top: 11px;

        @media (max-width: $screen-md) {
            padding: 11px 0;
        }
    }

    .luxury-nav {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }

    &#header-luxury {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        background-color: $white;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        transition: height 0.5s;
    }

    &.horizontal-list {
        margin-top: 125px;

        .sticky {
            position: fixed;
            width: inherit;
            z-index: 2;
            background-color: $white;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;

            @media (max-width: $screen-lg) {
                top: 120px;
            }

            @media (max-width: $screen-md) {
                top: 132px;
            }
        }

        .sidebar {
            position: fixed;
            /*margin-top: 50px;*/
            z-index: 2;
            background-color: $white;
            width: 290px;
            top: 165px;
            height: 100%;

            @media (max-width: $screen-lg) {
                width: 245px;
            }

            @media (max-width: $screen-md) {
                width: 110px;
                top: 190px;
            }
        }

        .main-content-horizontal {
            margin-left: 290px;
            margin-top: 45px;
            margin-bottom: 170px;

            @media (max-width: $screen-lg) {
                margin-left: 245px;
            }

            @media (max-width: $screen-md) {
                margin-left: 110px;
                margin-top: 65px;
            }
        }
    }

    &#top-footer {
        position: fixed;
        z-index: 5;
        bottom: 0;
        background-color: white;
        width: 100%;
        height: 160px;
        margin-bottom: 0;

        .footer-m {
            padding-top: 10px;
        }
    }
}
