.top-footer {
    // height: 140px;
    text-align: center;
    &.footer-site {
      height: 130px;
    }
    // margin-bottom: 20px;

    .footer-m {
        //margin-top: 40px;

          @media (max-width: $screen-sm) {
            margin-top: 20px;
        }

        @media (max-width: $screen-xs) {
            padding: 10px 10px;
        }

        .border-l {
            display: block;
            margin: 1em 0em;
            border-style: inset;
            border-width: 1px;
        }
    }

    .img-sm {

        @media (max-width: $screen-md) {
            padding: 0;
        }
    }

    .old-footer-top {
        color: $black;

        .contact-info {
            // margin-top: 30px;
            text-align: center;

            .contact-title {
                color: $black;
                cursor: pointer;
                font-size: 14px;
                letter-spacing: 0.08em;
                margin-bottom: 30px;
                text-transform: $upper-text;

                @media (max-width: $screen-sm) {
                    font-size: 12px;
                }

                 @media (max-width: $screen-xs) {
                    font-size: 10px;
                }
            }
        }


        .contact-info:last-child {
            margin-bottom: 0px;
        }
    }

    .copyright {
        font-size: 14px;
        letter-spacing: 1px;
        color: $black;
        margin-bottom: 10px;
        padding-left: 20px;

        @media (max-width: $screen-md) {
            font-size: 12px;
            padding: 0 5px;
        }
    }
}

// New auth footer

.footer-m {
    @media (max-width: $screen-sm) {
        padding: 0 15px;
    }
}

.register-footer {
    height: 100px;
    .footer-top {
        margin-top: 15px;
        font-family: "neuzeit-grotesk",sans-serif;

        .center-footer {
            @media (max-width: $screen-xs) {
                text-align: center !important;
            }

            .toHide {
                text-decoration: none !important;
                cursor: text !important;
                font-weight: bold;
            }
        }

        .new-navigation {

            @media (max-width: $screen-xs) {
                text-align: center;
            }

            .page {
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0.075em;
                color: $black;
                text-transform: $capital-text;

                @media (max-width: $screen-xs) {
                    font-size: 12px;
                    text-align: center;
                }

                &:after {
                    content: "|";
                    padding: 0 5px;
                    display: inline-block;
                }

                &:last-child:after {
                    content: "";
                    padding: 0 5px;
                    display: inline-block;
                }

                &:hover {
                    color: $black;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            @media (max-width: $screen-xs) {
                text-align: left;
            }
        }

        .signature {
            line-height: 32px;
            letter-spacing: 0.075em;

            font: {
                size: 16px;
                weight: $lighter;
            }
        }
    }
}
