﻿// Header

.header-luxury {
    &.header-auth {
        height: 175px;
        padding: 15px 0;
    }

    &.header-site {
        padding-top: 15px;

        .box-control {
            .large-view {
                @media (min-width: $screen-more-lg) {
                    max-width: 400px;
                }
            }
        }

        .logo {
            img {
                padding: 10px 0;
                cursor: default;
            }
        }
    }

    img.pointer {
        display: block;
        margin: 0 auto;
    }
}



@media (max-width: $screen-sm) {
    .logo {
        text-align: center;
    }
}
