﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 14px; color:#fff; margin: 0 auto;">
    <tr style="text-align:center;">
        <td style="width:100%;">
            <img src="[@LOGOURL]" style="max-width: 100%;" alt="logo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td valign="middle" style="font-family: FuturaPT, Arial;font-size:20px;color:#5e5e5e;padding:15px 0;">
            <p style="color: #000000;margin:0;text-align:center;">
                Hi [@FULLNAME],
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="color: #383838; text-align: center; font-size: 16px; letter-spacing: 0.025em; line-height: 24px; font-family: FuturaPT, Arial; padding: 15px 0 15px 0; background-color: #f1f1f1;">
            <p style="font-size: 14px;text-align:center;color: #000000;font-weight:bold;font-family: FuturaPT, Arial;">
                CONGRATULATIONS, YOUR ORDER [@PONUMBER] HAS BEEN CONFIRMED
            </p>
            <p style="font-size:13px;font-family: FuturaPT, Arial;">
                Your order has been confirmed! You can log on to your Luxury Market dashboard to check the status of your order at any time. Shipment and tracking information for your order will be provided once it’s on its way!
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="background-color: #e32323; border-radius: 5px; text-align: center; padding: 10px 0 10px 0;">
            <a href="http://www.luxurymarket.com" style="font-family: FuturaPT, Arial; font-size: 16px; text-decoration: none; color: #fff; line-height: 36px;">
                    LOG ON
            </a>
        </td>
    </tr>
</table>