﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="deleteoffer.close()">&times;</button>
    <p class="modal-title" ng-bind="deleteoffer.title"></p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p class="message-delete" ng-bind="deleteoffer.question"></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
            <button class="btn-lm btn-lm-cancel margin-b-20" ng-click="deleteoffer.close()">no</button>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <button class="btn-lm btn-lm-save margin-b-20" ng-click="deleteoffer.submit($event)">
                yes
                <i class="fa fa-spinner spinning" ng-show="deleteoffer.isLoading"></i>
            </button>
        </div>
    </div>
</div>
