﻿/*!
 * Luxury Market v1.0.0
 * Copyright 2016 Luxury Market
 */

// Core variables and mixins
@import "helpers/_variables";
@import "helpers/_mixins";

// Reset and dependencies
@import "helpers/_normalize";
@import "helpers/_formating";

// Core CSS
@import "layout/_grid";
@import "layout/_header";
@import "layout/_footer";

// Components
@import "components/_fonts";
@import "components/_buttons";
@import "components/_tables";
@import "components/_forms";
@import "components/_navigation-bar";

// Pages
// Old auth pages
@import "pages/_login";
/*@import "pages/_register";*/
@import "pages/_home";
@import "pages/_products";
@import "pages/_product-details";
@import "pages/_publish-offer";
@import "pages/_cart";
@import "pages/_offer-details";
@import "pages/_support-documents";
@import "pages/_offer-summary";
@import "pages/_offer-product-details";
@import "pages/_report-error";
@import "pages/_manage-offers";
@import "pages/_manage-shipping";
@import "pages/_order-summary";
@import "pages/_manage-addresses";
@import "pages/_account-info";
@import "pages/_manage-orders";
@import "pages/_order-details";
@import "pages/_product-list-vertical";
@import "pages/_customer-service";
@import "pages/_pickup-information";
@import "pages/_new-register";
@import "pages/_create-password";
@import "pages/_new-forgot-password";
@import "pages/_new-login";
@import "pages/_create-offer";

// bootstrap ovverides

// Typography
h3 {
    text-transform: $upper-text;
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    font-size: 20px;
}

h4 {
    text-transform: $upper-text;
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
}

h5 {
    text-transform: $upper-text;
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    color: $black;
}

// Fonts

body {
    font-family: "futura-pt",sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: $light-weight;
    color: $middle-gray;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;

    @media (max-width: $screen-xs) {
        max-width: 80%;
    }
}

li {
    list-style: none;
}


a {
    color: $dark-gray;

    &:focus,
    :hover,
    :active {
        text-decoration: none;
        color: $dark-gray;
    }
}

// errors
/*.error-messages {
    color: $red;
    position: absolute;
    bottom: -20px;
    left: 5px;
    font-size: 13px;
}*/

// Text Subtitle

.subtitle-home {
    color: $black;
    //text-align: center;
    .first-subtitle {
        text-transform: $upper-text;
        font-size: 40px;
        font-weight: $heavy-weight;
        letter-spacing: 1.7px;
        line-height: 1em;

        @media (max-width: $screen-md) {
            font-size: 30px;
        }

        @media (max-width: $screen-sm) {
            font-size: 20px;
        }
    }

    .second-subtitle {
        font-size: 20px;
        letter-spacing: 1.5px;
        text-align: center;

        @media (max-width: $screen-sm) {
            font-size: 15px;
        }
    }
}

button[disabled] {
    background-color: #4a4a4a;
}

.fa.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.submit-error {
    color: $red;
}

// Brands & Products List
.subtitle {
    text-align: initial;
}

// Select
select {
    border: 1px solid $light-gray;
    color: $gray;
    letter-spacing: 1px;
    /*line-height: initial;
    padding: 13px 25px;
    text-align: center;
    width: auto;*/
    &.light {
        color: $dark-gray;
    }

    &.center {
        text-align: center;
        text-align-last: center;

        option {
            text-align: left;
        }
    }

    &.offer-edit-item {
        display: inline;
        padding: 2px 4px;
        width: 150px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }

    &.select-row {
        min-width: 367px;

        @media (max-width: $screen-land) {
            min-width: 100%;
            width: 100%;
        }
    }
}

.logout-button {
    &:hover {
        text-decoration: underline;
    }
}

// Delimitation border

.border-box {
    border-bottom: 1px solid $very-light-gray;
    padding-bottom: 15px;

    @media(max-width: $screen-md) {
        padding-bottom: 10px;
    }
}

.border {
    border: 1px solid $very-light-gray;
    padding: 15px 20px;
}

.border-bottom {
    border-bottom: 1px solid $very-light-gray;
    padding-bottom: 10px;
}

.line-up {
    border-top: 1px solid $very-light-gray;
    margin: 0px 15px;
    padding: 10px 0px;
}

.line-down-vertical {
    border-bottom: 1px solid $very-light-gray;
}


// Arrows
.arrow {
    font-size: 20px;
    top: 2px;
    position: relative;

    @media (max-width: $screen-md) {
        font-size: 15px;
    }
}

.arrow-angle-right {
    font-size: 20px;
    float: right;
}

.arrow-left {
    font-size: 20px;
}

.arrow-back-top {
    font-size: 20px;
    color: $white;
    position: relative;
    top: 5px;
}


.caret-icon {
    float: right;
    position: relative;
    line-height: 17px;
    font-size: 15px;

    @media (max-width: $screen-md) {
        font-size: 12px;
    }
}

.caret-down {
    position: relative;
    font-size: 18px;
    cursor: pointer;
    right: 0;
}

@import "pages/_step_wizard.scss";


.error {
    color: $red;
}


.bold {
    font-weight: $heavy-weight;
}

// Back top bullet

.back-top {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    position: relative;
    background-color: $black;
    float: right;

    p {
        color: $black;
        margin: 0;
        width: 70px;
        top: 20px;
        position: relative;
        right: 15px;
    }
}

.pointer {
    cursor: pointer;
}


// date time picker style overrdide
.datetimepicker {

    .table {
        td {
            border-radius: 0;
        }

        span {
            border-radius: 0;
        }
    }

    .active:hover,
    .active:hover:hover,
    .active.disabled:hover,
    .active.disabled:hover:hover,
    .active:active,
    .active:hover:active,
    .active.disabled:active,
    .active.disabled:hover:active,
    .active.active,
    .active:hover.active,
    .active.disabled.active,
    .active.disabled:hover.active,
    .active.disabled,
    .active:hover.disabled,
    .active.disabled.disabled,
    .active.disabled:hover.disabled,
    td.active[disabled],
    td.active:hover[disabled],
    td.active.disabled[disabled],
    td.active.disabled:hover[disabled],
    span.active[disabled],
    span.active:hover[disabled],
    span.active.disabled[disabled],
    span.active.disabled:hover[disabled] {
        background-color: $black;
        background-image: none;
        border-color: $black;
        border-radius: 0;
    }
}


// override notification
.ui-notification {
    background: $black;
}

// Popup


.modal-dialog {
    top: 70px;

    .modal-content {
        border-radius: 0;
        position: relative;
        box-shadow: none;

        .modal-header {
            background-color: $black;
            color: $white;
            padding: 15px 20px;

            .close {
                color: $white;
                font-size: 20px;
                font-weight: $light-weight;
                opacity: 0.3;

                &.close:focus {
                    outline: none;
                }
            }

            .modal-title {
                font-size: 15px;
                text-transform: $capital-text;
                font-weight: $light-weight;
                letter-spacing: 0.05em;
            }

            @media (max-width: $screen-xs) {
                padding: 15px 15px;
            }
        }

        .modal-body {
            padding: 15px 15px 5px 15px;

            .input-modal {
                border-radius: 0px;
                height: 40px;

                &.input-modal:focus {
                    outline: none;
                    box-shadow: none;
                    border: 1px solid $light-gray;
                }
            }


            .message-delete {
                font-size: 20px;
                letter-spacing: 0.05em;
                line-height: 24px;
                text-align: center;
                margin-bottom: 15px;

                @media (max-width: $screen-sm) {
                    font-size: 17px;
                }
            }

            .left-box {
                padding: 0 5px 0 25px;

                @media (max-width: $screen-xs) {
                    padding: 0 5px 0 15px;
                }
            }

            .right-box {
                padding: 0 25px 0 5px;

                @media (max-width: $screen-xs) {
                    padding: 0 15px 0 5px;
                }
            }

            .textarea-modal {
                height: 70px;
            }
        }

        .modal-footer {
            border-top: none;
            padding: 0 25px;


            .cancel-btn,
            .save-btn {
                @media (max-width: $screen-sm) {
                    width: 150px;
                }
            }

            .btn-lm-cancel,
             .btn-lm-save {
                @media (max-width: $screen-xs) {
                    min-width: 110px;
                }
            }
        }
    }
}

// Icon

.icon-wrapper {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    background-color: $white;
    color: $very-light-gray;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 30px;
    padding: 7px 11px;
    border: 1px solid $very-light-gray;

    @media(max-width: $screen-sm) {
        width: 35px;
        height: 35px;
        font-size: 16px;
        padding: 5px 9px;
    }

    &:focus {
        outline: none;
    }
}

.nopadding-left {
    padding-left: 0;
}

.brands-list {
    .brand-name {
        font-size: 16px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

// fix on yellow auto fill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

// Select arrow - IE

select::-ms-expand {
    background-color: transparent;
    border: none;
}

//order
.order-id {
    font-size: 16px;
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    line-height: 36px;
    text-transform: $capital-text;
    color: $black;
    //margin: 0;
    span {
        font-weight: $light-weight;
    }
}

// Dropdown overlape

.dropdown-backdrop {
    z-index: 0;
}

ul.list-style-circle {
    li {
        list-style: circle;
    }
}


.text-black {
    color: #000;
}

.terms-and-conditions {
    ul {
        li {
            padding: 5px 2px;
        }
    }
}

// For terms and conditions

.link-status {
    text-decoration: underline;
    color: $medium-blue-1;
    @include link-hover($medium-blue-1, $underline);
}

.uppercase {
    text-transform: uppercase;
}

.lm-back-drop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 998;

    &.open {
        display: block;
    }
}

.auth-container {
    font-family: "neuzeit-grotesk",sans-serif;
    font-size: 18px;

    .auth-message {
        margin: 140px 0;
        text-align: center;

        .message {
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            color: $black;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// Short Dropdown

.shop-top {
        .navigation-shop {
            display: inline-block;
            padding-right: 5px;

            .sort-filter {
                display: inline;
                padding: 0 10px;

                .btn-lm-filter {
                    line-height: 16px;
                    padding: 5px 10px 5px 10px;
                    min-width: 175px;
                    font-size: 14px;

                    .angle-down {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        padding-left: 2px;
                    }
                }

                .menu-right {
                    right: 0;
                    left: 10px;
                    margin: 0;
                    width: 175px;
                    min-width: 175px;
                    padding: 0;
                    border: 1px solid $black;
                    border-top: none;
                    border-radius: 0;
                    box-shadow: none;
                    z-index: 1;
                    top: 22px;

                    li {
                        a {
                            padding: 5px 10px 5px 10px;
                            cursor: pointer;
                            text-transform: $capital-text;
                            color: $black;
                            letter-spacing: 0.05em;
                            line-height: 16px;

                            &:hover {
                                background-color: $black;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

//Pagination

.pagination {

    .active {
        > a {
            background-color: $black;
            color: $white !important;
            z-index: 0;
        }
    }

    &.pagination-sm {
        > li {
            > a {
                border: none;
                color: $black;
                padding: 0px 5px;
                line-height: 20px;
                margin: 0 1px;
                border-radius: 0;
                font-size: 15px;
                letter-spacing: 0.05em;

                &:hover {
                    background-color: $black;
                    color: $white;
                    border-radius: unset;
                }
            }
        }
    }
}

.scrollbar-bar {
        max-height: 250px;
        overflow-y: auto;
        background-color: $white;

        &::-webkit-scrollbar-track {
            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: $very-light-gray;
        }

        &::-webkit-scrollbar-track {
            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: $very-light-gray;
        }

        &::-webkit-scrollbar {
            width: 3px;
            background-color: $black;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $black;
        }
    }