﻿// bootstrap ovverides
// forms
.form-group {
    margin-bottom: 20px;
    position: relative;

    label {

        &.floating {
            font-weight: normal;
            position: absolute;
            top: 2px;
            left: 4px;
            font-size: 11px;
            color: $light-gray;
            line-height: 12px;
        }
    }
}

// Input

input {
    border: 1px solid $light-gray;
    color: $gray-1;
    letter-spacing: 1px;
    line-height: initial;
    padding: 13px 25px;
    text-align: center;
    width: 100%;
    border-radius: 0;

// This is for new auth pages
/*input {
    border: 1px solid $light-gray;
    color: $gray-1;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    border-radius: 0;
}*/

    &:focus {
        border: 1px solid $light-gray;
        outline: none;
    }
}

::-webkit-input-placeholder {
    color: $dark-gray;
}

// Textarea

textarea {
    border: 1px solid $light-gray;
    color: $gray;
    letter-spacing: 1px;
    line-height: initial;
    text-align: center;
    width: 100%;
    resize: none;

    &:focus {
        border: 1px solid $light-gray;
        outline: none;
    }
}

::-webkit-input-placeholder {
    color: $gray;
}

// Radiobox

input[type="radio"] {
    display: none;
}

input[type="radio"] + {
    label {
        span {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 15px 0px 40px;
            width: 16px;
            height: 16px;
            background-color: $white;
            border: 1px solid $light-gray;
            cursor: pointer;
            position: relative;
            bottom: 2px;
            @include box-hover($black);

            @media (max-width: $screen-xs) {
                margin: 0 10px 0 5px;
            }
        }
    }
}

input[type="radio"] {
    &:checked + {
        label {
            span {
                background-color: $black;
                border: 1px solid $black;
            }
        }
    }
}


// Checkbox

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + {
    label {
        span {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 13px 0px 40px;
            width: 16px;
            height: 16px;
            background-color: $white;
            border: 1px solid $light-gray;
            cursor: pointer;
            position: relative;
            bottom: 2px;
            @include box-hover($black);

             @media (max-width: $screen-xs) {
                margin: 0 15px 0 5px;
            }
        }
    }

}

input[type="checkbox"] {
    &:checked + {
        label {
            span {
                background-color: $black;
                border: 1px solid $black;
            }
        }
    }
}

//Form input date

.date {
    padding: 0px 5px;

    .creation-date {

        label {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: $black;
            text-transform: $capital-text;
            margin: 0;
        }

        input[type="text"]::-webkit-input-placeholder {
            color: $black;
        }

        .input-date {
            border: none;
            box-shadow: none;
            padding: 0px;
            width: 20px;
            color: $black;
            background-color: transparent;
            font-size: 16px;
        }

        .input-date-year {
            width: 35px;
            border: none;
            box-shadow: none;
            padding: 0px;
            color: $black;
            background-color: transparent;
            font-size: 16px;
        }

        .bar {
            color: $light-gray;
            position: relative;
            top: 0px;
            font-size: 16px;
        }

        .form-control {
            vertical-align: unset;
        }
    }
}

// For form date and box
.form-date-group {
    line-height: 45px;
    padding-right: 0px;

    .data-group {
        display: inline-flex;
        margin-right: 20px;

        @media (max-width: $screen-lg) {
            margin-right: 5px;
        }
    }

    .take-group {
        display: -webkit-inline-box;
        //margin-left: 5px;
        input[type="checkbox"] + {
            label {
                span {
                    width: 22px;
                    height: 22px;
                    margin-left: 10px;
                    margin-right: 0px;

                    @media (max-width: $screen-lg) {
                        width: 17px;
                        height: 17px;
                        margin-left: 5px;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .label-text {
        font-weight: $light-weight;
        color: $black;
        letter-spacing: 0.05em;
        text-transform: $capital-text;
        margin: 0 10px 0 0px;

        @media (max-width: $screen-lg) {
            margin: 0 5px 0 0px;
            font-size: 12px;
        }

        &:last-child {
            margin: 0;
        }
    }

    .date-form {
        width: 36px;
        padding: 0;
        height: 22px;
        border-radius: 1px;
        font-style: italic;
        vertical-align: baseline;

        @media (max-width: $screen-lg) {
            width: 30px;
            height: 18px;
        }

        @media (max-width: $screen-md) {
            width: 25px;
        }

        &:hover {
            color: $black;
            border-color: $black;
        }
    }

    input::-webkit-input-placeholder,
    ::-moz-placeholder {

        @media (max-width: $screen-lg) {
            font-size: 11px;
        }

        &:hover {
            color: $black;
        }
    }

    input {
        &:hover {
            color: $black;
        }

        &:focus {
            border: 1px solid $light-gray;
            outline: none;
            box-shadow: unset;
        }
    }

    .year-input {
        width: 51px;

        @media (max-width: $screen-lg) {
            width: 40px;
        }

        @media (max-width: $screen-md) {
            width: 35px;
        }
    }
}
