﻿// Navigation steps
.nav-steps {

    .page-steps {
        text-transform: $capital-text;
        letter-spacing: 0.05em;
        margin: 0px;
        line-height: 24px;

        @media (max-width: $screen-md) {
            font-size: 12px;
        }

        .second-page {
            color: $black;
        }

        a {
            text-decoration: none;
        }
    }
}

// Pages navigation

.navigation {
    color: $gray-lighten-9;

    a {
        display: inline-block;
        color: $gray-lighten-9;

        &:hover {
            color: $moderat-orange;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }

        &:after {
            content: "|";
            padding: 0 5px;
            display: inline-block;
        }
    }

    .next-page {
        position: relative;
        right: 4px;
    }
}

// Home nav bar

.luxury-nav {
    background-color: $black;
    text-align: center;
    padding: 13px 0;
    margin-bottom: 0px;

    li {
        display: inline-block;
        padding: 0 30px;

        // @media (max-width: $screen-lg) {
        //     padding: 0 21px;
        // }
        //
        // @media (max-width: $screen-land) {
        //     padding: 0px 20px;
        // }
        //
        // @media (max-width: $screen-md) {
        //     padding: 0px 14px;
        // }
        //
        // @media (max-width: $screen-sm) {
        //     padding: 0px 5px;
        // }
        //
        // @media (max-width: $screen-xs) {
        //     padding: 0px 3px;
        // }

        a {
            color: $white;
            letter-spacing: 0.1em;
            text-transform: $upper-text;
            font-size: 15px;
            line-height: 30px;
            text-decoration: none;

            @media (max-width: $screen-md) {
                font-size: 12px;
            }

            @media (max-width: $screen-sm) {
                font-size: 11px;
            }

            @media (max-width: $screen-xs) {
                font-size: 10px;
                letter-spacing: 0.05em;
                line-height: 20px;
            }

            .fa-search {
                font-size: 22px;
                position: relative;
                left: -35px;

                @media (max-width: $screen-sm) {
                    font-size: 10px;
                }
            }

            .search-icon {
                padding-left: 10px;
            }
        }

        .active {
            font-weight: $heavy-weight;
        }
    }

    &.luxury-nav:focus {
        outline: none;
    }

    @media (max-width: $screen-xs) {
        padding: 7px 0px;
    }
}

.navigation-bar {
    .nav-list {
        li {
            a {
                text-decoration: none;
                color: initial;
            }
        }
    }
}
