﻿<div class="container-fluid address-container">
    <div class="row">
        <div class="col-md-12 nav-steps nopadding margin-t-10 border-bottom">
            <div class="page-steps">
                <a ui-sref="admin.account-info" class="medium-blue-1">{{'MY_ACCOUNT'| translate}}</a>
                <a href=""> &#47; {{'MANAGE_ADDRESS'| translate}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-b-40">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 col-sm-12 col-xs-12 nopadding margin-b-20">
                            <h4 class="title-address">{{'BILLING_ADDRESS'| translate}}</h4>
                        </div>
                    </div>
                    <div class="row text-center" ng-show="addresses.isLoading">
                        <i class="fa fa-spinner spinning"></i>
                    </div>
                    <div class="row address-wrapper" ng-repeat="address in addresses.billingAddresses | orderBy: '-isMain'">
                        <div class="col-md-1"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 change-details nopadding">
                            <p class="change-name" ng-bind="address.street1"></p>
                            <p>{{'STREET'| translate}} 2: <span ng-bind="address.street2"></span></p>
                            <p>{{'CITY'| translate}}: <span ng-bind="address.city"></span></p>
                            <p>{{'STATE'| translate}}: <span ng-bind="address.stateName + ', ' + address.countryName"></span></p>
                            <p>{{'ZIP_CODE'| translate}}: <span ng-bind="address.zipCode"></span></p>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-4 nopadding icon-container">
                            <button class="icon-wrapper margin-r-10 land-view" ng-click="addresses.openDetails($event, address, addresses.addressTypes.Billing_Address)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button ng-hide="address.isMain" class="icon-wrapper" ng-click="addresses.setMain($event, address.addressId)"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-11 col-sm-11 col-xs-12 nopadding btn-location">
                            <button class="btn-lm btn-lm-empty margin-t-10" ng-click="addresses.openDetails($event, null, addresses.addressTypes.Billing_Address)">{{'ADD_NEW_ADDRESS'| translate}}</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 col-sm-12 col-xs-12 nopadding margin-b-20">
                            <h4 class="title-address">{{addresses.isBuyer ? 'SHIPPING_ADDRESS' : 'PICKUP_ADDRESS' | translate}}</h4>
                        </div>
                    </div>
                    <div class="row text-center" ng-show="addresses.isLoading">
                        <i class="fa fa-spinner spinning"></i>
                    </div>
                    <div class="row address-wrapper" ng-repeat="address in addresses.shippingAddresses | orderBy: '-isMain'">
                        <div class="col-md-1"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 change-details nopadding">
                            <p class="change-name" ng-bind="address.street1"></p>
                            <p>{{'STREET'| translate}} 2: <span ng-bind="address.street2"></span></p>
                            <p>{{'CITY'| translate}}: <span ng-bind="address.city"></span></p>
                            <p>{{'STATE'| translate}}: <span ng-bind="address.stateName + ', ' + address.countryName"></span></p>
                            <p>{{'ZIP_CODE'| translate}}: <span ng-bind="address.zipCode"></span></p>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-4 nopadding icon-container">
                            <button class="icon-wrapper margin-r-10" ng-click="addresses.openDetails($event, address, addresses.addressTypes.Shipping_Address)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button ng-hide="address.isMain" class="icon-wrapper" ng-click="addresses.setMain($event, address.addressId)"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 col-sm-12 nopadding btn-location">
                            <button class="btn-lm btn-lm-empty margin-t-10" ng-click="addresses.openDetails($event, null, addresses.addressTypes.Shipping_Address)">{{'ADD_NEW_ADDRESS'| translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
