﻿
// Margin
.margin-0 {
    margin: 0;
}

.margin-lr-5 {
    margin: 0 5px;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-40 {
    margin-bottom: 40px;
}
.margin-b-50 {
    margin-bottom: 50px;
}

.margin-b-60 {
    margin-bottom: 60px;
}
.margin-b-80 {
    margin-bottom: 80px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-15 {
    margin-top: 15px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-t-40 {
    margin-top: 40px;
}

.margin-t-50 {
    margin-top: 50px;
}

.margin-l-5 {
    margin-left: 5px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-l-25 {
    margin-left: 25px;
}

.margin-l-40 {
    margin-left: 40px;
}

.margin-l-50 {
    margin-left: 50px;
}

.margin-l-65 {
    margin-left: 65px;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-r-10 {
    margin-right: 10px;
}

.no-margin-l {
    margin-left: 0px;
}

.no-margin-r {
    margin-right: 0px;
}

// Padding

.nopadding {
    padding: 0px;
}

.no-padding-r {
    padding-right: 0px;
}

.no-padding-l {
    padding-left: 0px;
}

.padding-l-5 {
    padding-left: 5px;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-l-15 {
    padding-left: 15px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-l-30 {
    padding-left: 30px;
}

.padding-r-5 {
    padding-right: 5px;
}

.padding-r-10 {
    padding-right: 10px;
}

.padding-r-20 {
    padding-right: 20px;
}

.padding-lr-5 {
    padding: 0 5px;
}

.padding-lr-10 {
    padding: 0 10px;
}

.padding-lr-25 {
    padding: 0 25px;
}

.padding-t-15 {
    padding-top: 15px;
}

.padding-tb-10 {
    padding: 10px 0;
}

// Align

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify;
}

// Colors classes
.medium-blue {
    color: $medium-blue;
}

.medium-blue-1 {
    color: $medium-blue-1;
}

.text-red {
    color: $red;
}

// style

.italic {
    font-style: italic;
} 

// font size
.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

// Display

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.display-ib {
    display: inline-block;
}

.underline-none {
    &:hover {
    text-decoration: none;
    }
}
// Font weight

.light-text {
    font-weight: $light-weight;
}