﻿<div class="container login-container">
    <div class="row top-register margin-t-30">
        <div class="col-md-12">
            <div class="title">{{reset.isResetPassword ? 'Reset Password' : 'One more step'}}</div>
            <div class="sub-title" ng-hide="reset.isResetPassword">Thank you for you interest<br />Setup your account and start using Luxury Market Now!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div id="setupPasswordForm" class="col-lg-4 col-md-5 col-sm-6 login-home">
            <form ng-submit="reset.submit()" name="reset.setupPasswordForm" novalidate>
                <div class="form-group">
                    <label class="floating" ng-show="!reset.setupPasswordForm.email.$error.required">EMAIL ADDRESS</label>
                    <input id="setupPasswordemail" class="text" ng-model="reset.setupPasswordModel.email" name="email" readonly ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" placeholder="EMAIL ADDRESS" type="text" required />
                    <div class="error-messages" ng-messages="reset.setupPasswordForm.email.$error" ng-show="reset.setupPasswordForm.email.$dirty" role="alert">
                        <div ng-message="required" class="message">Email is required</div>
                        <div ng-message="pattern" class="message">Email is invalid</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="floating" ng-show="reset.setupPasswordForm.password.$dirty && !reset.setupPasswordForm.password.$error.required">PASSWORD</label>
                    <input id="password" class="text" ng-model="reset.setupPasswordModel.password" name="password" placeholder="PASSWORD" type="password" required autocomplete="off" ng-minlength="6" />
                    <div class="error-messages" ng-messages="reset.setupPasswordForm.password.$error" ng-show="reset.setupPasswordForm.password.$dirty" role="alert">
                        <div ng-message="required" class="message">Password is required</div>
                        <div ng-message="minlength" class="message">Password is too short</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="floating" ng-show="reset.setupPasswordForm.confirmPassword.$dirty && !reset.setupPasswordForm.confirmPassword.$error.required">CONFIRM PASSWORD</label>
                    <input id="password" class="text" ng-model="reset.setupPasswordModel.confirmPassword" compare-to="reset.setupPasswordModel.password" name="confirmPassword" autocomplete="off" ng-minlength="6" placeholder="CONFIRM PASSWORD" type="password" required />
                    <div class="error-messages" ng-messages="reset.setupPasswordForm.confirmPassword.$error" ng-show="reset.setupPasswordForm.confirmPassword.$dirty" role="alert">
                        <div ng-message="required" class="message">Password is required</div>
                        <div ng-message="minlength" class="message">Password is too short</div>
                        <div ng-message="compareTo" class="message">Passwords don't match</div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="submitSetupAccount" class="btn-lm btn-lm-single margin-b-20" type="submit" ng-disabled="reset.setupPasswordForm.$invalid || reset.isLoading">
                        Submit
                        <i class="fa fa-spinner spinning" ng-show="reset.isLoading"></i>
                    </button>
                </div>
                <div class="submit-error" ng-show="reset.hasError">{{reset.error_message}}</div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>